<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quartos</title>
</head>
<body>
    <h1>QUARTOS</h1>

    <h2>LISTAR QUARTOS</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>VISTA MAR</th>
            <th>VALOR DIARIA</th>
            <th>CAPACIDADE MÁXIMA</th>
            <th>STATUS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quartos : ${quartos}">
            <td th:text="${quartos.nIdQuarto}"></td>
            <td th:text="${quartos.stNomeQuarto}"></td>
            <td th:text="${quartos.boVistaMar}"></td>
            <td th:text="${quartos.doValorDiaQuarto}"></td>
            <td th:text="${quartos.nQtdeMaxOcupantes}"></td>
            <td th:text="${quartos.stStatusQuarto}"></td>
        </tr>
        </tbody>
    </table>

    <h2>CADASTRAR NOVO QUARTO</h2>

    <label>Nome:</label>
    <textarea id="taNomeQuarto" name="Nome do quarto" rows="1"></textarea>
    <br>
    <label>Vista para o Mar:</label>
    <textarea id="taVistaMar" name="Vista para o mar" rows="1"></textarea>
    <br>
    <label>Valor da diaria:</label>
    <textarea id="taValorDiaria" name="Valor da diaria" rows="1"></textarea>
    <br>
    <label>Capacidade maxima:</label>
    <textarea id="taCapacidadeMax" name="Capaciade Maxima" rows="1"></textarea>
    <br>
    <label>status do quarto:</label>
    <textarea id="taStatusQuarto" name="status do quarto" rows="1"></textarea>
    <br>
    <br>
<button>cadastrar</button>

</body>
</html>